body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.todoContainer {
  width:50%;
  background-color:  #b2ecfa;
  padding:10px;
}

.todoBox {
    width:50%;
    background-color: #eee;
    padding:10px;
    margin:20px;
}

.todoText{
    margin:5px;
    font-size: 20px;

}

.editButton{
    margin:5px;
    background-color: #052e39;
    color:white;
    border: 2px solid #052e39;
    padding:5px 10px;
}

.removeButton{
    margin:5px;
    background-color: darkred;
    border: 2px solid darkred;
    color:white;
    padding:5px 10px;
}

.saveButton {
  margin:5px;
  background-color:green;
  border: 2px solid green;
  color:white;
  padding:5px 10px;
}

.addButton {
  margin:5px;
  background-color:purple;
  border: 2px solid purple;
  color:white;
  padding:5px 10px;
}
